body {
    background-color: #FFFFFF;
}

.box_summer {
  border-radius: 5px;
  background-color: #FFE3C6;
  margin: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.box_winter {
  border-radius: 5px;
  background-color: #E9F7FF;
  margin: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

h2, h3, h4, h5, h6 {
  text-align: center;
  background-color: #f9f9f9;
}

.h1 { color: #ffffff;
    font-family: 'Raleway',
    sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }

.examples {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 80%;
    height: 100%;
}

.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 70px;
  }

@media (max-width: 900px) {
  .row {
    display: block;
  }
}
