body {
    background-color: #FFFFFF;
}

.box_summer {
  border-radius: 5px;
  background-color: #FFE3C6;
  margin: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.box_winter {
  border-radius: 5px;
  background-color: #E9F7FF;
  margin: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

h3, h4, h5, h6 {
  text-align: center;
  background-color: #f9f9f9;
}
.h1_summer { color: #FFCA94;
    font-family: 'Raleway',
    sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }
.h1_winter { color: #dbe8ff;
    font-family: 'Raleway',
    sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }
.h2 { color: #696969;
    font-family: 'Raleway',
    sans-serif; font-size: 26px; font-weight: 400; line-height: 36px; margin: 0 0 24px; text-align: center;  }



.examples {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 80%;
    height: 100%;
}

.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 70px;
  }

@media (max-width: 900px) {
  .row {
    display: block;
  }
}

/* Radio buttons */
.radio {
  display:flex;
  justify-content: left;
  place-content:space-around;
  width: 88%;
}

.radio input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.radio label {
  display: table-caption;
  padding: 15px 15px;
  font-size: 16px;
  border: 2px solid #1A0F02;
  border-radius: 5px;
  width: 200%;
  text-align: center;
  background-color: #DCDCDC;
}

.radio input[type="radio"]:checked + label {
  background-color: #F9F9F8;
  border: 2px solid #F9F9F8;
}

.radio label:hover {
  background-color: #ECF2EE;
  border: 2px solid #ECF2EE;
}




